<div id="visio-launcher" class="visio-launcher" data-region="visio-launcher">
    {{#showButton}}
        <a href="{{{data.url}}}" 
            class="btn btn-primary" 
            data-action="launch-visio"
            target="_blank">{{{data.str}}}</a>
    {{/showButton}}
    {{^showButton}}
        {{#data.str}}
            <span class="alert alert-info">{{{data.str}}}</span>
        {{/data.str}}
    {{/showButton}}
</div>
{{#isTeacher}}
    {{#js}}
    require(['mod_visio/visio_actions'], function(action) {
        action.init('{{apiurl}}', '{{data.url}}', {{data.ispassed}});
    });
    {{/js}}
{{/isTeacher}}
{{^isTeacher}}
    {{#js}}
    require(['mod_visio/participation'], function(Participation) {
        new Participation('[data-region="visio-launcher"]', {{visioid}}, {{currentuser}});
    });
    {{/js}}
{{/isTeacher}}